* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    line-height: 1;
}

.p-navbar {
    position: fixed;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid transparent;
    background-color: #fff;
    transition: background-color .2s ease;
}

.p-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.p-container__inner-container {
    display: flex;
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 870px){.css-1j6w4g0 .p-navbar__inner-container{-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}.css-1j6w4g0 .p-navbar__right-on-mobile{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.css-1j6w4g0 .p-navbar__accessory-button{height:100%;padding:0 8px;border-radius:0px;}.css-1j6w4g0 .p-navbar__content{position:absolute;top:var(--navbar-height);left:0;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;max-height:0;background-color:var(--white);}.css-1j6w4g0 .p-navbar__content .p-navbar__item{width:100%;padding:0;}.css-1j6w4g0 .p-navbar__content.p-navbar__content--expanded{height:initial;max-height:100vh;}.css-1j6w4g0 .p-navbar--bg-white .p-navbar__content{background-color:var(--white);}.css-1j6w4g0 .p-navbar__content .p-navbar__button{width:100%;padding:14px 0;margin:16px 20px;}.css-1j6w4g0 .p-navbar__menu{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}.css-1j6w4g0 .p-navbar__item>a{width:100%;padding:18px 20px;border-radius:0;}.css-1j6w4g0 .p-navbar__submenu-button{display:none;-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:start;justify-content:start;width:100%;padding:18px 20px;border-radius:0;}.css-1j6w4g0 .p-navbar__submenu--desktop{display:none;}.css-1j6w4g0 .p-navbar__submenu--mobile{display:block;}}