@charset "UTF-8";
@import "reset.scss";

$body_color: black;
$white: white;
$border: 1px solid #ddd;


// nav
nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  border: $border;
  border-radius: 15px;
  background-color: $body_color;
}

nav a {
  display: inline-block;
  margin-left: 15px;
  padding: 15px;
  color: $white;
  text-decoration: none;
  }


// aside
aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    border: $border;
    border-radius: 15px;
    background-color: $body_color;
  }
  
aside a {
    display: inline-block;
    padding: 15px;
    color: $white;
    text-decoration: none;
  }


// main
main {
  margin-top: 160px;
  margin-left: 15px;
  margin-right: 140px;
  }

section {
  margin-top: 200px;
}

section table{
  border: $border;
  width: 100%;
}

section th {
  background-color: $body_color;
  color: #ddd;
}

section th, td {
  padding: 15px;
}

section tr {
  text-align: center;
  color: black;
}

tr:nth-child(even) { background-color: #ddd; }
tr:nth-child(odd) { background-color: white; }