@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: rgba(2, 9, 19, 0.91);
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

br {
  border: 1px solid white;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.nav a {
  float: left;
  width: 25%;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(2, 9, 19, 0.91);
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}

.nav a:hover {
  background-color: #646262;
}

.main {
  position: relative;
  background-image: url("../img/project1/coffeehouse.jpeg");
  height: 800px;
  margin: 106px 40px 0px 40px;
}

.main h1 {
  position: absolute;
  top: 50;
  left: 50;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 120px;
}

.main span {
  position: absolute;
  width: 100%;
  font-size: 24px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}

.main .FirText {
  left: 20px;
  bottom: 20px;
  color: white;
}

.main .SecText {
  right: 20px;
  bottom: 20px;
  color: white;
}

@media only screen and (max-width: 600px) {
  span {
    color: black;
  }
}

.CafeInfo {
  margin: 120px 40px;
  height: 800px;
  background-color: #d4d1d1;
  color: black;
}

.CafeInfo .Title {
  margin: 0;
  padding: 40px;
  text-align: center;
  font-size: 32px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}

.CafeInfo .About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  text-align: center;
  font-size: 16px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}

.CafeInfo .Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}

.CafeInfo .smallContainer {
  width: 400px;
  height: 450px;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 19, 43, 0.58);
          box-shadow: 1px 1px 1px rgba(0, 19, 43, 0.58);
  text-align: center;
}

.CafeMenu {
  margin: 120px 40px;
  background-color: #d4d1d1;
  color: black;
}

.CafeMenu .Title {
  margin: 0;
  padding: 40px;
  text-align: center;
  font-size: 32px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}

.CafeMenu .Menua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  padding: 10px;
}

.CafeMenu a {
  margin: 20px;
  padding: 20px;
}

.CafeMenu .About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  text-align: center;
  font-size: 16px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}

.CafeMenu .Container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.CafeMenu .smallContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

.CafeReservation {
  height: 680px;
  margin: 120px 40px;
  background-color: #d4d1d1;
  color: black;
}

.CafeReservation .Title {
  margin: 0;
  padding: 40px;
  text-align: center;
  font-size: 32px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}

.CafeReservation .About {
  display: block;
  padding: 40px;
  text-align: center;
  font-size: 16px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}

.CafeReservation input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 400px;
  height: 40px;
  border: 1px solid #ddd;
}

.CafeReservation .SendBtn {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}
/*# sourceMappingURL=style.css.map */