@charset "UTF-8";
@import "reset.scss"; // Margin, Padding, a 리셋
@import "paint.scss"; // 무채색. 토스블루 계열


// mixin
@mixin nav_style {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}


// nav
.nav {
    @include nav_style;
}
.nav a{
    float: left;
    width: 25%;
    padding: 40px;
    box-sizing: border-box;
    background-color: $greyOpacity900;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}
.nav a:hover {
    background-color: rgb(100, 98, 98);
}


// main
.main {
    position: relative;
    background-image: url("../img/project1/coffeehouse.jpeg");
    height: 800px;
    margin: 106px 40px 0px 40px;
}
.main h1 {
    position: absolute;
    top: 50;
    left: 50;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 120px;
}
.main span {
    position: absolute;
    width: 100%;
    font-size: 24px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}   
.main .FirText {
    left: 20px;
    bottom: 20px;
    color: $white;
}
.main .SecText {
    right: 20px;
    bottom: 20px;
    color: $white;
}
@media only screen and (max-width: 600px) {
    span {
        color: black;
    }
}


// CafeInfo
.CafeInfo {
    margin: 120px 40px;
    height: 800px;
    background-color: rgb(212, 209, 209);
    color: $black;
}
.CafeInfo .Title {
    margin: 0;
    padding: 40px;
    text-align: center;
    font-size: 32px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}
.CafeInfo .About {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    font-size: 16px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}
.CafeInfo .Container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.CafeInfo .smallContainer {
    width: 400px;
    height: 450px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px $greyOpacity600;
    text-align: center;
}

// CafeMenu
.CafeMenu {
    margin: 120px 40px;
    background-color: rgb(212, 209, 209);
    color: $black;
}
.CafeMenu .Title {
    margin: 0;
    padding: 40px;
    text-align: center;
    font-size: 32px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}
.CafeMenu .Menua {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.CafeMenu a {
    margin: 20px;
    padding: 20px;
}
.CafeMenu .About {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    font-size: 16px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}
.CafeMenu .Container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 40px;
}
.CafeMenu .smallContainer { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}


// CafeReservation
.CafeReservation {
    height: 680px;
    margin: 120px 40px;
    background-color: rgb(212, 209, 209);
    color: $black;
}
.CafeReservation .Title {
    margin: 0;
    padding: 40px;
    text-align: center;
    font-size: 32px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}
.CafeReservation .About {
    display: block;
    padding: 40px;
    text-align: center;
    font-size: 16px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}
.CafeReservation input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 400px;
    height: 40px;
    border: 1px solid #ddd;
}   
.CafeReservation .SendBtn {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 15px;
    background-color: $black;
    color: $white;
    font-size: 16px;
    font-family: "Noto Sans KR","Noto+Sans","Malgun Gothic","맑은 고딕",arial,sans-serif;
}