body {
    margin: 0px;
    padding: 0px;
}

.modal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contents {
    position: relative;
    width: 800px;
    margin: 100px auto 0px;
    padding: 20px;
    background-color: white;
}

#X {
    position: absolute;
    top: -65px;
    right: -15px;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 36px;
}

.modal-contents h1 { margin: 0px; }
.modal-contents h6 { margin-top: 10px; margin-bottom: 40px;}

.modal-contents h3 { margin: 0px; }
.modal-contents input[type=text] { 
    width: 100%;
    margin-top: 10px; 
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 10px;

}

.remember-userinfo { margin-bottom: 25px; }
.remember-userinfo input[type=checkbox] { margin: 0px; }

.TermsandPrivacy { margin-bottom: 25px; }

.SignupBtn {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

#CancelBtn {
    width: 400px;
    padding: 15px;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
}

#SignupBtn {
    width: 400px;
    padding: 15px;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
}