* {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.mainimg {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

img {
    border-radius: 10%;
}

h2 {
    margin: 30px;
    text-align: center;
    font-size: 48px;
}

ol {
    text-align: center;
}

h3 {
    padding: 10px;
}
li {
    padding: 5px;
}