* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #fff;
}
main {
    max-width: 1500px;
    margin: auto;
    padding: 0 15px;
}
h1,h2,h3,h4,h5 {
    margin: 10px 0;
}
h1 {
    font-size: 3.25rem;
}
p {
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
a:hover {
    background-color: #ddd;
}
img {
    width: 100%;
}

input[type=text], input[type=date] {
    padding: 16px 8px;
    margin: 5px 0px;
    border: 1px solid #ddd;
}

.btn {
    border: none;
    font-size: 16px;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ddd;
}
.btn:hover {
    background-color: #ddd;
    cursor: pointer;
}

.border {
    border: 1px dashed;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.left { float: left; }
.right { float: right; }
.float-container::after {
    content: "";
    display: block;
    clear: both;
}

.width-25 { width: 25%; }
.width-50 { width: 50%; }
.width-100 { width: 100%; }

.text-center { text-align: center; }
.text-left { text-align: left; }

.padding-8 { padding: 8px; }
.padding-5 { padding: 5px; }
.padding-15 { padding: 15px; }
.padding-48 { padding: 48px 0px; }

.bg-image {
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
}

.bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


.box-shadow {
    box-shadow: 
    0 2px 5px 0 rgb(0 0 0 / 16%), 
    0 2px 10px 0 rgb(0 0 0 / 12%)
}


.bg-black {
    background-color: #000;
    color: #fff;
}

.hide-mobile {
    display: none;
}
@media (min-width: 501px) {
    .hide-mobile {
        display: block;
    }
    .tablet-50 {
        width: 50%;
    }
}
@media (min-width:851px) {
    .pc-25 {
        width: 25%;
    }
}
