/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
}
main {
    max-width: 1500px;
    margin: auto;
}

.padding-16 {
    padding: 16px 8px;
}
.padding-8 {
    padding: 8px 16px;
}
.padding-24 { padding: 24px; }
.Mainfont {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
}
.Contentfont {
    font-size: 72px;
    font-family: 'Ubuntu', sans-serif;
}
.margintop-20 { margin-top: 20px; }
.margintop-60 { margin-top: 60px; }

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.container {
    width: 250px;
    height: 500px;
    border: 1px solid;
    border-radius: 10px;
}

.margintop400 {
    margin-top: 200px;
}
.margin10 {
    margin-left: 10px;
    margin-right: 10px;
}

.center {
    display: flex;
    justify-content: center;
}